<%= content_for :body_class%>
<% content_for :page_title, "Components - UXZero" %>
  <% content_for :page_description, "Component Directory - UXZero." %>
    <body>
      <main>

        <section id="topnav">
          <div class="text-center max-w-5xl mx-auto mt-10">
            <div class="w-full sm:w-1/2 md:w-1/4 p-8 bg-gray-200 rounded mx-1 inline-block">
              <a href="#goto-profile" class="no-underline font-bold hvr-grow">Profile</a>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 p-8 bg-gray-200 rounded mx-1 inline-block">
              <a href="#goto-button" class="no-underline font-bold hvr-grow">Buttons</a>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 p-8 bg-gray-200 rounded mx-1 inline-block">
              <a href="#goto-form" class="no-underline font-bold hvr-grow">Forms</a>
            </div>
          </div>
          <div class="text-center max-w-5xl mx-auto mt-2">
            <div class="w-full sm:w-1/2 md:w-1/4 p-8 bg-gray-200 rounded mx-1 inline-block">
              <a href="#goto-profile" class="no-underline font-bold hvr-grow">Sign Up</a>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 p-8 bg-gray-200 rounded mx-1 inline-block">
              <a href="#goto-button" class="no-underline font-bold hvr-grow">Log In</a>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 p-8 bg-gray-200 rounded mx-1 inline-block">
              <a href="#goto-form" class="no-underline font-bold hvr-grow">Forms</a>
            </div>
          </div>

        </section>

        <h1 class="text-4xl font-extrabold mx-auto text-center mt-10" id="goto-profile">Profile Components</h1>

          <div class="flex justify-between max-w-5xl mx-auto p-4 mt-20">
            <div class="container cursor-default inline-block align-top text-left">
              <h1 class="text-2xl font-extrabold">
                Vertical Profile Card
              </h1>
              <h2 class="text-xl font-medium text-gray-600 mb-4">
                A profile card for your users
              </h2>
              <button class="btn bg-white" data-clipboard-text="1">
                <ion-icon name="copy"></ion-icon>
                CSS</button>
              <button class="btn bg-white" data-clipboard-text="2">
                <ion-icon name="copy"></ion-icon>
                Tailwind</button>
              <button class="btn bg-white" data-clipboard-text="3">
                <ion-icon name="copy"></ion-icon>
                Bootstrap</button>
            </div>
            <div class="container cursor-default inline-block align-top">
              <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white mb-8 content-center text-center justify-center max-w-sm float-right w-full align-top">
                <div class="flex-col p-4 text-center">
                  <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE1ODA0OTcxOTUyMDE0ODYx/elon-musk-20837159-1-402.png" class="w-32 rounded-full  inline-block mb-4">
                  <h3 class="mb-0 text-xl font-bold mb-2">Elon Musk</h3>
                  <h3 class="mb-0 text-lg font-semibold mb-4">Founder</h3>
                  <img src="https://logos-download.com/wp-content/uploads/2016/03/Tesla_logo_silver.png" class="mx-auto w-24 mb-4">
                  <button class="btn bg-white">Visit Profile</button>
                </div>
              </div>
            </div>
          </div>

          <div class="flex justify-between max-w-5xl mx-auto p-4 mt-20">
            <div class="container cursor-default inline-block align-top text-left">
              <h1 class="text-2xl font-extrabold">
                Horizontal Profile Card
              </h1>
              <h2 class="text-xl font-medium text-gray-600 mb-4">
                A horizontal profile card for your users
              </h2>
              <button class="btn bg-white" data-clipboard-text="1">
                <ion-icon name="copy"></ion-icon>
                CSS</button>
              <button class="btn bg-white" data-clipboard-text="2">
                <ion-icon name="copy"></ion-icon>
                Tailwind</button>
              <button class="btn bg-white" data-clipboard-text="3">
                <ion-icon name="copy"></ion-icon>
                Bootstrap</button>
            </div>
            <div class="container cursor-default inline-block align-top">
              <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white mb-8 content-center text-center justify-center max-w-xl float-right w-full align-top">
                <div class="flex-col p-4 text-center">
                  <div class="w-1/4 inline-block align-middle hidden sm:inline-block">
                    <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE1ODA0OTcxOTUyMDE0ODYx/elon-musk-20837159-1-402.png" class="w-32 rounded inline-block">
                  </div>
                  <div class="w-1/3 inline-block align-middle">
                    <h3 class="text-xl font-bold">Elon Musk</h3>
                    <h3 class="text-md font-semibold mb-2">Founder</h3>
                    <img src="https://logos-download.com/wp-content/uploads/2016/03/Tesla_logo_silver.png" class="mx-auto w-24 mb-4">
                  </div>
                  <div class="w-1/3 inline-block align-middle">
                    <button class="btn bg-white mb-2">Email</button>
                    <button class="btn bg-white mb-2">Linkedin</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <h1 class="text-4xl font-extrabold mx-auto text-center mt-10" id="goto-button">Buttons</h1>

          <div class="flex justify-between max-w-5xl mx-auto p-4 mt-20">
            <div class="container cursor-default inline-block align-top text-left">
              <h1 class="text-2xl font-extrabold">
                Plain Button
              </h1>
              <h2 class="text-xl font-medium text-gray-600 mb-4">
                A plain, unstyled button for minor actions
              </h2>
              <button class="btn bg-white" data-clipboard-text="1">
                <ion-icon name="copy"></ion-icon>
                CSS</button>
              <button class="btn bg-white" data-clipboard-text="2">
                <ion-icon name="copy"></ion-icon>
                Tailwind</button>
              <button class="btn bg-white" data-clipboard-text="3">
                <ion-icon name="copy"></ion-icon>
                Bootstrap</button>
            </div>
            <div class="container cursor-default inline-block align-top">
              <button class="inline-block px-6 py-2 rounded cursor-pointer shadow-md">Plain</button>
            </div>
          </div>
          <div class="flex justify-between max-w-5xl mx-auto p-4 mt-20">
            <div class="container cursor-default inline-block align-top text-left">
              <h1 class="text-2xl font-extrabold">
                Bold Button
              </h1>
              <h2 class="text-xl font-medium text-gray-600 mb-4">
                A plain, unstyled button for minor actions
              </h2>
              <textarea id="bold-button">
                <button class="inline-block px-6 py-2 rounded font-extrabold cursor-pointer shadow-lg">Bold</button>
              </textarea>
              <button class="btn bg-white" data-clipboard-target="#bold-button">
                <ion-icon name="copy"></ion-icon>
                Copy</button>
            </div>
            <div class="container cursor-default inline-block align-top">
              <button class="inline-block px-6 py-2 rounded font-extrabold cursor-pointer shadow-lg">Bold</button>
            </div>
          </div>
          <div class="flex justify-between max-w-5xl mx-auto p-4 mt-20">
            <div class="container cursor-default inline-block align-top text-left">
              <h1 class="text-2xl font-extrabold">
                Shadow Button
              </h1>
              <h2 class="text-xl font-medium text-gray-600 mb-4">
                A plain, unstyled button for minor actions
              </h2>
              <textarea id="shadow-button">
                <button class="inline-block px-6 py-2 rounded font-bold cursor-pointer shadow-xl">Shadow</button>
              </textarea>
              <button class="btn bg-white" data-clipboard-target="#shadow-button">
                <ion-icon name="copy"></ion-icon>
                Copy</button>
            </div>
            <div class="container cursor-default inline-block align-top">
              <button class="inline-block px-6 py-2 rounded font-bold cursor-pointer shadow-xl">Shadow</button>
            </div>
          </div>

      </main>
      <script src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
      <script>
        var clipboard = new ClipboardJS('.btn');
        clipboard.on('success', function (e) {
          console.log(e);
        });
        clipboard.on('error', function (e) {
          console.log(e);
        });
      </script>
    </body>
