<nav class="nav" data-controller="navigation">
  <div class="nav__content">
    <%= link_to image_tag("UXZero-240x60.svg", class: "nav__logo"), root_path %>

    <div class="nav__items" data-target="navigation.items">
      <% if user_signed_in? %>
        <button class="btn btn--primary mx-2 p-1">
          <ion-icon name="logo-github" class="align-middle"></ion-icon>
          Source</button>
        <button class="btn btn--primary mx-2 mr-3 p-1">
          <ion-icon name="download" class="align-middle"></ion-icon>
          ZIP</button>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav__item nav__link" %>
      <% else %>
        <%= link_to "Log In", new_user_session_path, class: "nav__item btn btn--primary-outline hvr-grow" %>
      <% end %>
    </div>

    <span role="link" class="navigation__toggle" data-target="navigation.toggle" data-action="click->navigation#toggle">menu</span>
  </div>
</nav>
