<% content_for :page_title, "Contact - UXZero" %>
  <% content_for :page_description, "Contact the UXZero Team" %>
    <div class="w-full inline-block text-center mt-5">
      <h1 class="text-3xl leading-tight font-bold">Contact our team</h1>

      <div class="mt-16 max-w-2xl mx-auto pb-8 w-full xl:w-1/3 inline-block px-5 align-top">

        <div class="container pt-2 w-full text-center mx-auto px-auto mx-auto">
          <form class="w-full" action="https://submit-form.com/aRmFDHldnAXwP-0YjettU">
            <input type="checkbox" name="_honeypot" style="display:none" tabindex="-1" autocomplete="off"/>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                  First Name
                </label>
                <input
                  required="required"
                  name="firstname"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                  id="grid-first-name"
                  type="text"
                  placeholder="Elon">
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Last Name
                </label>
                <input
                  required="required"
                  name="lastname"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-200"
                  id="grid-last-name"
                  type="text"
                  placeholder="Musk">
              </div>
              <div class="w-full px-3 mb-6 mt-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-company-name">
                  Preferred Email
                </label>
                <input
                  required="required"
                  name="preferred-email"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                  id="grid-preferred-email"
                  type="text"
                  placeholder="elon@spacex.com">
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                  Let Us Know
                </label>
                <input
                  required="required"
                  name="message"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded pb-20 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-200 h-32"
                  id="grid-message"
                  type="message"
                  placeholder="Questions, needs, custom solutions, anything else"
                  style="overflow-wrap: break-word;">
                <p class="text-gray-600 text-xs italic">Tell us what you require, ask questions, or leave us a message</p>
              </div>
            </div>
            <button type="submit" class="btn btn--primary hvr-float">Get in touch</button>
            <input
              type="hidden"
              name="_redirect"
              value="https://www.synthate.com/thanks"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
