<%= content_for :body_class%>
<% content_for :page_title, "Premium UI/UX styled-components in pure CSS, Tailwind, and Bootstrap - UXZero" %>
  <% content_for :page_description, "Get access to UXZero's premium, modern UI/UX styled-components in pure CSS, Tailwind, and Bootstrap." %>
    <body>
      <main>
        <div class="hero text-center sm:text-left">
          <div class="container hero__content cursor-default">
            <h1 class="hero__heading font-extrabold">
              Premium
              <span class="px-2 text-white rounded" style="background: rgb(48,39,228); background: linear-gradient(45deg, rgba(48,39,228,1) 0%, rgba(102,79,255,1) 50%);">UI</span>
              +
              <span class="px-2 text-white rounded" style="background: rgb(48,39,228); background: linear-gradient(45deg, rgba(48,39,228,1) 0%, rgba(102,79,255,1) 50%);">UX</span>
            </h1>
            <h2 class="hero__subheading">
              Get instant access to beautiful, modular, styled-components in
              <span class="typer font-bold" id="main" data-words="Tailwind., Bootstrap., Raw CSS." data-delay="20" data-deletedelay="1000" data-colors="var(--brandColor)"></span>
            </h2>
            <script async="async" src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
            <div>

              <form action="https://submit-form.com/i512aOJZHMbM7SpCpmCbT" target="_self">
                 <input type="text" name="email" placeholder="Email" class="field input inline-block w-56 outline-none">
                 <button type="submit" class="btn btn--primary ml-3">Join Waitlist</button>
              </form>
            </div>
          </div>

          <div class="image__container">
            <img src="<%= image_url('landing') %>" class="rounded hero__image"></img>
          </div>
        </div>
      </main>
      <script src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons.js"></script>
    </body>
