.btn {
  @apply inline-block px-6 py-2;
  @apply rounded;
  @apply font-bold;
  @apply cursor-pointer;
  box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, .09), 0 0.063em 0.125em rgba(0, 0, 0, .07);
}

.btn--outline {
  background-color: var(--textColorInverted);
  color: var(--brandColor);
}

.btn--primary {
  @apply text-white;
  background: rgb(48,39,228);
  background: linear-gradient(45deg, rgba(48,39,228,1) 0%, rgba(102,79,255,1) 50%);
}

.btn--primary-outline {
  @apply bg-white;
  color: var(--brandColor);
}

.btn--secondary {
  @apply text-white;
  background-color: var(--secondaryBrandColor);
}

.btn--drop-shadow {
  background-color: var(--textColorInverted);
  box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, .09), 0 0.063em 0.125em rgba(0, 0, 0, .07);
  color: var(--brandColor);

  &:hover {
    background-color: var(--textColorInverted);
    box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, .09), 0 0.063em 0.125em rgba(0, 0, 0, .09);
  }
}
