.hero {
  @apply relative;
  @apply align-top;
  @apply bg-transparent;
  height: 55vh;

  @screen sm {
    height: 80vh;
  }
}

.hero__content {
  @apply px-4 pt-16 pb-16 mx-auto max-w-5xl;

  @screen md {
    @apply pt-32 pr-24 pb-24;
  }
}

.image__container {
  @apply w-full h-64;

  @screen sm {
    @apply absolute right-0 top-0 w-1/2 h-full;
  }
}

.hero__image {
  @apply text-center justify-center content-center;
  @apply hidden;

  @screen md {
    @apply inline-block;
    width: 80%;
    margin-top: 8rem;
  }

  @media (min-width: 1280px) {
    width: 75%;
    margin-top: 7rem;
  }

  @media (min-width: 1440px) {
    width: 55%;
    margin-top: 7rem;
  }

}

.hero__heading {
  @apply mb-4 w-full;
  @apply text-3xl leading-tight font-bold;

  @screen sm {
    @apply w-1/2;
    @apply text-5xl;
  }
}

.hero__subheading {
  @apply w-full mb-10;
  @apply text-xl font-normal text-gray-600;

  @screen sm {
    @apply w-1/2;
    @apply text-2xl;
  }
}
